<a href="https://colab.research.google.com/github/chyokomizo/DataScienceProjects/blob/main/Coleta_de_Dados_MySQL_usando_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Coleta de Dados no MySQL utilizando o Python**
O programa realiza a conexão com o SGBD MySQL server sem utilizar um banco de dados específico, depois disso cria um banco de dados que será alimentado com um arquivo .csv, que pode ser consultado (*queries*) utilizando comandos na linguagem Python.

In [ ]:
#importação do pacote mysql.connector para realizar a conexão com o MySQL
import mysql.connector

###**Conectar ao MySQL Server sem selecionar um banco de dados**

In [ ]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti'
)

print(mydb)

mycursor = mydb.cursor()

In [ ]:
#Retorna todos os esquemas criados no servidor de Banco de Dados
mycursor.execute("SHOW DATABASES") 
#Para criar um banco de dados é possível utilizar o comando abaixo
#mycursor.execute("CREATE DATABASE mydatabase")

for db in mycursor:
    print(db)

###**Conectar ao MySQL Server selecionando um banco de dados específico**

In [ ]:
#Criação do Banco de Dados mydb
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()

In [ ]:
#Retorna todas as tabelas criados no esquema de Banco de Dados 
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

In [ ]:
# Inserir dados em uma tabela

query = "INSERT INTO caracteristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")

mycursor.execute(query, values)

#Fazer a confirmação da inserção
mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

In [ ]:
#Inserindo multiplos valores
values = [(2, "Elevador"),(3,"Piscina")]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

In [ ]:
#Consultar a tabela
mycursor.execute("SELECT * FROM caracteristicasgerais")

myresult = mycursor.fetchall() #mostra todos os registros

for mydata in myresult:
    print(mydata)

In [ ]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone() #mostra apenas primeiro registro

print(myresult)

###**Importar pacote csv**

In [ ]:
import csv

In [ ]:
# Leitura de arquivo .csv sem utilizar a biblioteca Pandas
# Conferir se seu arquivo foi salvo no caminho correto

filename = 'C:\users\Cesar\CSV\cidades.csv'

#Abrir arquivo e inserir cada linha do arquivo na tabela cidade

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader:       
        mycursor.execute ("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE,NomeCidade, CodEstadoIBGE)\
                  VALUES (%s, %s, %s, %s)",line)        
mydb.commit()

#db.close()
incsvfile.close() #Fechar arquivo

In [ ]:
#Consutar a tabela cidade listando a quantidade de registros existentes nela e ao fim imprimir o resultado (5570).

mycursor.execute("SELECT count(*) FROM cidade")
myresult = mycursor.fetchone()
print(myresult)

In [ ]:
mydb.close() #Fechar o banco de dados